There are three basic sequence types: `lists`, `tuples`, and `range` objects.

It is worth mentioning that `strings` are also a sequence type in Python.

Besides that, python also has unordered collections - `sets` and `dictionaries`.

## Lists and Tuples

In [10]:
our_first_list = [1, 2, 3] # homogenous

In [11]:
another = [1, '1', 3.0] # heterogenous

In [12]:
print(our_first_list)

[1, 2, 3]

In [13]:
our_first_tuple = (1, 2, 3)
another_tuple = (1, '1', 3.0)

In [14]:
print(another_tuple)

(1, '1', 3.0)

## Common operations for lists and tuples

In [8]:
x = 1
y = 'c'

In [6]:
print(our_first_list)
print(another_tuple)

NameError: name 'our_first_list' is not defined

In [9]:
print(x in our_first_list)
print(y in another_tuple)
print(x not in our_first_list)

NameError: name 'our_first_list' is not defined

In [1]:
[1, 2, 3] + [4, 5, 6] # concatenation

[1, 2, 3, 4, 5, 6]

In [ ]:
[0] * 5

In [ ]:
print(0 * 5)
print((0,) * 5) # pay attention, in order to init tuple with one element

In [ ]:
x = (0)

In [ ]:
print(x)

In [2]:
print('Length of our list', len(our_first_list))
print('Max element in list', max(our_first_list))
print('Min element in list', min(our_first_list))

NameError: name 'our_first_list' is not defined

In [16]:
test_list = [9, 6, 3, 10, 8, 2, 2, 6, 1, 10, 10, 6]
print('Number of 6 digits in list: ', test_list.count(6))
print('Index of first accurance of digit 3 in list: ', test_list.index(3))

Number of 6 digits in list:  3
Index of first accurance of digit 3 in list:  2

In [18]:
print(test_list[0]) # index from 0
print(test_list[1])
print(test_list[1:4])
print(test_list[::2])

9
6
[6, 3, 10]
[9, 3, 8, 2, 1, 10]

In [ ]:
test_list[-1]

# Difference between lists and tuples.
Mutable and Immutable objects

In a nutshell, a mutable object can be changed after it is created, and an immutable object canâ€™t.

In [19]:
x = [1,2,3]
y = (1,2,3)

In [20]:
x[1] = 101
print(x)

[1, 101, 3]

In [21]:
y[1] = 101

TypeError: 'tuple' object does not support item assignment

In [22]:
y = y[:1] + (101,) + y[2:]
print(y)

(1, 101, 3)

## List methods

In [24]:
l = [1,2,3,4]

In [25]:
l.append([5, 6])
print(l)

[1, 2, 3, 4, [5, 6]]

In [26]:
l.extend([6,7])
print(l)

[1, 2, 3, 4, [5, 6], 6, 7]

In [ ]:
l.extend((8, 9))
print(l)

In [27]:
x = l.pop()
print(l)

[1, 2, 3, 4, [5, 6], 6]

In [28]:
print(x)

7

In [29]:
print(l)

[1, 2, 3, 4, [5, 6], 6]

In [30]:
q  = l.pop(10)

IndexError: pop index out of range

In [31]:
print(l)

[1, 2, 3, 4, [5, 6], 6]

In [32]:
print(q)

NameError: name 'q' is not defined

In [33]:
l.remove(2)
print(l)

[1, 3, 4, [5, 6], 6]

In [34]:
l.insert(0, 1)
print(l)

[1, 1, 3, 4, [5, 6], 6]

## Range 

`Ranges` implement all of the common sequence operations except concatenation and repetition (due to the fact that range objects can only represent sequences that follow a strict pattern, and repetition and concatenation would usually violate that pattern).

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
range(0, 10)

In [ ]:
range(0, 10, 1)

In [ ]:
help(range)

In [ ]:
list(range(0, -10, -1))

In [ ]:
r = range(10)
print(r[0])
print(list(r[1: 5]))

In [ ]:
range_len = 10
range_obj = range(range_len)
i = 0
t = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
while i < range_len:
    print(range_obj[i], t[i])
    i += 1

Python buil-in function `range()` and generated `range` objects are generally used to iterate over with for loop, which will be mentioned in future lesson about `for-in` loop

In [ ]:
l = [1,2,3,4]
for i in range(len(l)):
    print(l[i])

## Sets

A `set` object is an unordered collection of distinct objects.
Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference

In [37]:
s = {1, 2, 3, 4, 4}

In [38]:
print(s)

{1, 2, 3, 4}

In [39]:
print(len(s))
print(s)
print(10 in s)

4
{1, 2, 3, 4}
False

In [40]:
wrong_set = {[1], [2]}

TypeError: unhashable type: 'list'

In [41]:
s[0]

TypeError: 'set' object is not subscriptable

In [42]:
for it in s:
    print(it)

1
2
3
4

In [50]:
s2 = set([1,2,4,5,6,4,3,2,1])
print(s2)

{1, 2, 3, 4, 5, 6}

In [51]:
s2.add(7)
print(s2)

{1, 2, 3, 4, 5, 6, 7}

In [45]:
s2.add(7)

In [46]:
print(s2)

{1, 2, 3, 4, 5, 6, 7}

In [47]:
s2.remove(2)
print(s2)

{1, 3, 4, 5, 6, 7}

`set` operations in Python can be performed in two different ways: by operator or by method

In [35]:
a = {1, 2, 3}
b = {3, 4}
print(a - b)
print((a - b) == a.difference(b))

{1, 2}
True

In [36]:
print(a | b)
print(a.union(b))
print((a & b) == (a.intersection(b)))

{1, 2, 3, 4}
{1, 2, 3, 4}
True

In [ ]:
s = frozenset((1,2,3,4,4))

In [ ]:
print(s)

In [ ]:
s.add(5)

## More about mutable/immutable objects and internal implementation of sequences

In [ ]:
x = [1,2,3,4]

In [ ]:
print(id(x), x)

In [ ]:
x.append(5)
print(id(x), x)

In [ ]:
x = (1,2,3,4)
print(id(x), x)

In [ ]:
x = x + (5,)
print(id(x), x)

In [ ]:
a = ['a', 'b', 'c']
b = a
print(a, b)
print(a == b)
print(id(a), id(b))

In [ ]:
print(id(a[0]), id(a[1]), id(a[2]))

In [ ]:
b[0] = 'A'
print(a, b)

In [ ]:
a2 = ['a', 'b', 'c']
b2 = ['a', 'b', 'c']
print(a2, b2)
print(a2 == b2)
print(id(a2), id(b2))
print(a2 is b2)

In [ ]:
b2[0] = 'A'
print(a2, b2)

In [ ]:
x = [10, 1.0, 4, 0, -5]
print(x)

In [ ]:
print('sorted', sorted(x))
print('original', x)

In [ ]:
x.sort()
print(x)

In [ ]:
y = (10, 1.0, 4, 0, -5)
print(sorted(y), type(sorted(y)))
print(y)

In [ ]:
y.sort()

In [ ]:
a = ['a', 1, True]
b = a[:]
print(a, b, sep='\n')

In [ ]:
print(id(a), id(b))

In [ ]:
b[0] = 101
print(a, b, sep='\n')

In [ ]:
c = a.copy()
print(c)

In [ ]:
c[0] = 'GOOD'
print(c, a, sep='\n')

In [ ]:
l = [1,3,4, ['hello', 'nested', 'list', [True, False]]]

In [ ]:
print(l)

In [ ]:
l[3][3][0] = 'Wrong'
print(l)

In [ ]:
c = [True, False]
b = ['hello', 'nested', 'list', c]
a = [1,2,4, b]
print(a)

In [ ]:
c[0] = 'Wrong'
print(a)

In [ ]:
new_a = a.copy()
c[0] = 'HELLO'
print(new_a)
print(a)

In [ ]:
import copy

In [ ]:
new_a = copy.deepcopy(a)
print(new_a)

In [ ]:
c[0] = 'Test'
print(new_a)
print(a)

In [ ]:
a[3][3][0] = 'TEST1'

In [ ]:
print(new_a)
print(a)