There are three basic sequence types: `lists`, `tuples`, and `range` objects.

It is worth mentioning that `strings` are also a sequence type in Python.

Besides that, python also has unordered collections - `sets` and `dictionaries`.

## Lists and Tuples

In [1]:
our_first_list = [1, 2, 3] # homogenous

In [2]:
another = [1, '1', 3.0]

In [3]:
one = []
two = list()

In [4]:
print(our_first_list)

[1, 2, 3]

In [5]:
our_first_tuple = (1, 2, 3)
another_tuple = (1, '1', 3.0)
short_tuple = 1,

In [6]:
print(short_tuple)

(1,)

## Common operations for lists and tuples

In [13]:
x = 1
y = 'c'

In [14]:
print(our_first_list)
print(another_tuple)
print(y)
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [10, 11, 12]]

[1, 2, 3]
(1, '1', 3.0)
c

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [15]:
print(x in our_first_list)
print(y in another_tuple)
print(x not in our_first_list)

True
False
False

In [16]:
[1, 2, 3] + [4, 5, 6] # concatenation

[1, 2, 3, 4, 5, 6]

In [14]:
[0, 1 , 2] * 5 + [3, 4 , 5]

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 3, 4, 5]

In [16]:
print(0 * 5)
print((0, 1) * 5) # pay attention, in order to init tuple with one element

0
(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [19]:
x = 0,

In [20]:
print(x)

(0,)

In [21]:
print('Length of our list', len(our_first_list))
print('Max element in list', max(our_first_list))
print('Min element in list', min(our_first_list))

Length of our list 3
Max element in list 3
Min element in list 1

In [23]:
test_list = [9, 6, 3, 10, 8, 2, 2, 6, 1, 10, 10, 6]
print('Number of 6 digits in list: ', test_list.count(6))
print('Index of first accurance of digit 3 in list: ', test_list.index(6))

Number of 6 digits in list:  2
Index of first accurance of digit 3 in list:  6

In [24]:
print(test_list[0]) # index from 0
print(test_list[1])
print(test_list[1:4])
print(test_list[::2])

9
3
[3, 10, 8]
[9, 10, 2, 6, 10, 6]

In [25]:
test_list[-1]

6

In [26]:
lst = [1, 2, 3, 257]
print(hex(id(lst)))
print(hex(id(lst[0])))
print(hex(id(lst[3])))

0x13fe4b5ba00
0x7ff8111bd328
0x13fe4adb770

In [27]:
a = 1
b = 257
print(hex(id(a)))
print(hex(id(b)))

0x7ff8111bd328
0x13fe4adbab0

In [28]:
lst = [1, 2, 3]
print(hex(id(lst)))
lst.append(4)
print(hex(id(lst)))

0x13fe4b47d00
0x13fe4b47d00

In [34]:
lst1 = [1, 2, 3]
lst2 = lst1
lst1.append(4)
lst2

[1, 2, 3, 4]

In [35]:
lst2.append(5)
lst1

[1, 2, 3, 4, 5]

In [36]:
print(hex(id(lst1)))
print(hex(id(lst2)))

0x13fe4ac4f40
0x13fe4ac4f40

In [37]:
lst1 = [1, 2, 3]
lst2 = lst1.copy()
lst1.append(4)
lst2

[1, 2, 3]

In [38]:
print(hex(id(lst1)))
print(hex(id(lst2)))

0x13fe30cc8c0
0x13fe4b07f80

# Difference between lists and tuples.
Mutable and Immutable objects

In a nutshell, a mutable object can be changed after it is created, and an immutable object canâ€™t.

In [ ]:
x = [1,2,3]
y = (1,2,3)
z = [[1, 2, 3],
     [4, 5, 6]]
z[1][2]

In [41]:
y[0]

1

In [42]:
x[1] = 101
print(x)

[1, 101, 3]

In [56]:
y[1] = 101

TypeError: 'tuple' object does not support item assignment

In [44]:
y = y[:1] + (101,) + y[2:]
print(y)

(1, 101, 3)

In [45]:
week = ('monday', 'tuesday', 'wednesday')
print(week)

('monday', 'tuesday', 'wednesday')

In [46]:
m, t, w = week
print(m, t)

monday tuesday

In [47]:
m, t = t, m
print(m, t)

tuesday monday

In [49]:
week = list(week)
print(week)

['monday', 'tuesday', 'wednesday']

In [50]:
week = tuple(week)
print(week)

('monday', 'tuesday', 'wednesday')

In [51]:
_, *tail = week
tail

['tuesday', 'wednesday']

In [53]:
*head, _, _ = week
head

['monday']

## List methods

In [58]:
l = [1, 4, 3, 2, 2, 2]

In [62]:
l.append(5)
print(l)

[1, 4, 3, 2, 2, 2, 1, 2, 3, 5]

In [63]:
l.extend([1, 2, 3])
print(l)

[1, 4, 3, 2, 2, 2, 1, 2, 3, 5, 1, 2, 3]

In [64]:
l.extend((8, 9))
print(l)

[1, 4, 3, 2, 2, 2, 1, 2, 3, 5, 1, 2, 3, 8, 9]

In [66]:
x = l.pop(3)
print(l)
print(x)

[1, 4, 3, 2, 2, 1, 2, 3, 5, 1, 2, 3, 8]
2

In [67]:
print(x)

2

In [68]:
print(l)

[1, 4, 3, 2, 2, 1, 2, 3, 5, 1, 2, 3, 8]

In [85]:
print(len(l))
l.pop(3)

10

1

In [32]:
print(l)

[1, 4, 3, 2, 2, 5, 1, 2, 3]

In [33]:
print(q)

8

In [75]:
l.remove(2)
print(l)

ValueError: list.remove(x): x not in list

In [ ]:
l.insert(100, 1)
print(l)

In [77]:
l.insert(3, 1)
print(l)

[1, 4, 3, 1, 1, 3, 5, 3, 8, 1]

In [78]:
l1 = l.copy()
l1 = l[:]
print(l1)

[1, 4, 3, 1, 1, 3, 5, 3, 8, 1]

In [79]:
l1.reverse()
print(l1)

[1, 8, 3, 5, 3, 1, 1, 3, 4, 1]

In [81]:
l1.sort()
l1.sort(reverse=True)
print(l1)

[8, 5, 4, 3, 3, 3, 1, 1, 1, 1]

In [82]:
print(sorted(l1))
print(l1)

[1, 1, 1, 1, 3, 3, 3, 4, 5, 8]
[8, 5, 4, 3, 3, 3, 1, 1, 1, 1]

In [83]:
print(sum(l1))
l1.clear()
print(l1)

30
[]

## Range 

`Ranges` implement all of the common sequence operations except concatenation and repetition (due to the fact that range objects can only represent sequences that follow a strict pattern, and repetition and concatenation would usually violate that pattern).

In [86]:
print(range(0, 10))

range(0, 10)

In [48]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [51]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [90]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [92]:
r = range(10)
print(r[5])
print(list(r[1: 5]))

5
[1, 2, 3, 4]

In [93]:
range_len = 10
range_obj = range(range_len)
i = 0
t = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
while i < range_len:
    print(range_obj[i], t[i])
    i += 1

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

Python buil-in function `range()` and generated `range` objects are generally used to iterate over with for loop, which will be mentioned in future lesson about `for-in` loop

In [94]:
l = [1,2,3,4]
for i in range(len(l)):
    print(l[i])

1
2
3
4

## Sets

A `set` object is an unordered collection of distinct objects.
Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference

In [95]:
s = {1, 2, 3, 4, 4}

In [96]:
print(s)

{1, 2, 3, 4}

In [97]:
print(len(s))
print(s)
print(10 in s)
print(10 not in s)

4
{1, 2, 3, 4}
False
True

In [99]:
wrong_set = {(1, 2), [1, 2]}
wrong_set

{(1, 2)}

In [100]:
s[0]

TypeError: 'set' object is not subscriptable

In [87]:
for it in s:
    print(it)

1
2
3
4

In [101]:
s2 = set([1,2,4,5,6,4,3,2,1])
print(s2)

{1, 2, 3, 4, 5, 6}

In [61]:
s2.add(7)
print(s2)

{1, 2, 3, 4, 5, 6, 7}

In [62]:
s2.add(7)

In [63]:
print(s2)

{1, 2, 3, 4, 5, 6, 7}

In [113]:
s2.remove(8)
print(s2)

KeyError: 8

`set` operations in Python can be performed in two different ways: by operator or by method

In [109]:
a = {1, 2, 3}
b = {3, 4}
print(a - b)
print((a - b) == a.difference(b))

{1, 2}
True

In [67]:
print(a | b)
print(a.union(b))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [68]:
print(a.intersection(b))
print((a & b) == (a.intersection(b)))

{3}
True

In [ ]:
print(a ^ b)
print((a ^ b) == a.symmetric_difference(b))

In [111]:
c = a | b
d = a & b
print(c)
print(d)
print(c - d)

{1, 2, 3, 4}
{3}
{1, 2, 4}

In [114]:
a.discard(1)
print(a)
print(a.intersection({2}))

{2, 3}
{2}

In [115]:
s = frozenset((1,2,3,4,4))

In [116]:
print(s)
s.add(1)

frozenset({1, 2, 3, 4})

AttributeError: 'frozenset' object has no attribute 'add'

In [117]:
s1 = {5, 's', 6, s, 0, -1, 2 , '1'}
print(s1)
s1.add(1)
print(s1)

{0, 2, 5, 6, 's', frozenset({1, 2, 3, 4}), '1', -1}
{0, 1, 2, 5, 6, 's', frozenset({1, 2, 3, 4}), '1', -1}

In [118]:
l = [1, 3, 'apple', 5, 7, 2, 5, 7, 8, 203, 'a', 'b', 'banana']
s = set(l)
print(s)
print(list(s))

{1, 'apple', 3, 2, 5, 'banana', 7, 8, 203, 'b', 'a'}
[1, 'apple', 3, 2, 5, 'banana', 7, 8, 203, 'b', 'a']

## More about mutable/immutable objects and internal implementation of sequences

In [119]:
x = [1,2,3,4]

In [120]:
print(id(x), x)
print(hex(id(x)))

1373932467968 [1, 2, 3, 4]
0x13fe4c1b700

In [121]:
x.append(5)
print(id(x), x)
print(id(x[4]), x[4])
print(id(x[5]), x[5])

1373932467968 [1, 2, 3, 4, 5]
140703415653288 5

IndexError: list index out of range

In [122]:
x = (1,2,3,4)
print(id(x), x)

1373932821280 (1, 2, 3, 4)

In [123]:
x = x + (5,)
print(id(x), x)
print(id(x[1]), x[1])

1373932823120 (1, 2, 3, 4, 5)
140703415653192 2

In [124]:
a = ['a', 'b', 'c']
b = a
print(a, b)
print(a == b)
print(id(a), id(b))

['a', 'b', 'c'] ['a', 'b', 'c']
True
1373932778368 1373932778368

In [105]:
print(id(a[0]), id(a[1]), id(a[2]))

2350466371312 2350466034160 2350464647600

In [106]:
b[0] = 'A'
print(a, b)

['A', 'b', 'c'] ['A', 'b', 'c']

In [125]:
a2 = ['a', 'b', 'c']
b2 = ['a', 'b', 'c']
print(a2, b2)
print(a2 == b2)
print(id(a2), id(b2))
print(a2 is b2)
print(id(a2[0]), id(b2[0]))

['a', 'b', 'c'] ['a', 'b', 'c']
True
1373932709888 1373932708544
False
140703414584192 140703414584192

In [108]:
b2[0] = 'A'
print(a2, b2)

['a', 'b', 'c'] ['A', 'b', 'c']

In [109]:
x = [10, 1.0, 4, 0, -5]
print(x)

[10, 1.0, 4, 0, -5]

In [110]:
print('sorted', sorted(x))
print('original', x)

sorted [-5, 0, 1.0, 4, 10]
original [10, 1.0, 4, 0, -5]

In [111]:
x.sort()
print(x)

[-5, 0, 1.0, 4, 10]

In [126]:
y = (10, 1.0, 4, 0, -5)
print(sorted(y), type(sorted(y)))
print(y)

[-5, 0, 1.0, 4, 10] <class 'list'>
(10, 1.0, 4, 0, -5)

In [113]:
y.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [114]:
a = ['a', 1, True]
b = a[:]
print(a, b, sep='\n')

['a', 1, True]
['a', 1, True]

In [115]:
print(id(a), id(b))

2350563421504 2350571664192

In [116]:
b[0] = 101
print(a, b, sep='\n')

['a', 1, True]
[101, 1, True]

In [117]:
c = a.copy()
print(c)

['a', 1, True]

In [118]:
c[0] = 'GOOD'
print(c, a, sep='\n')

['GOOD', 1, True]
['a', 1, True]

In [119]:
l = [1,3,4, ['hello', 'nested', 'list', [True, False]]]

In [120]:
print(l)

[1, 3, 4, ['hello', 'nested', 'list', [True, False]]]

In [121]:
l[3][3][0] = 'Wrong'
print(l)

[1, 3, 4, ['hello', 'nested', 'list', ['Wrong', False]]]

In [122]:
c = [True, False]
b = ['hello', 'nested', 'list', c]
a = [1,2,4, b]
print(a)

[1, 2, 4, ['hello', 'nested', 'list', [True, False]]]

In [123]:
c[0] = 'Wrong'
print(a)

[1, 2, 4, ['hello', 'nested', 'list', ['Wrong', False]]]

In [124]:
new_a = a.copy()
c[0] = 'HELLO'
print(new_a)
print(a)

[1, 2, 4, ['hello', 'nested', 'list', ['HELLO', False]]]
[1, 2, 4, ['hello', 'nested', 'list', ['HELLO', False]]]

In [128]:
import copy

In [126]:
new_a = copy.deepcopy(a)
print(new_a)

[1, 2, 4, ['hello', 'nested', 'list', ['HELLO', False]]]

In [127]:
c[0] = 'Test'
print(new_a)
print(a)

[1, 2, 4, ['hello', 'nested', 'list', ['HELLO', False]]]
[1, 2, 4, ['hello', 'nested', 'list', ['Test', False]]]

In [128]:
a[3][3][0] = 'TEST1'

In [129]:
print(new_a)
print(a)

[1, 2, 4, ['hello', 'nested', 'list', ['HELLO', False]]]
[1, 2, 4, ['hello', 'nested', 'list', ['TEST1', False]]]

In [132]:
a = [1, 2, 'b']
print(id(a[2]))
b = copy.deepcopy(a)
print(id(b[2]))

140703414277920
140703414277920